/* 5. Body selector */
body {
    font-size: 20px; /* Default font size */
    margin-left: 10em; /* Margin for the left side */
    margin-right: 10em; /* Margin for the right side */
}

/* 6. Level 1 heading */
h1 {
    color: coral;
}

/* 7. Paragraph with id 'para1' */
#para1 {
    color: firebrick;
    background-color: beige;
}

/* 8. Paragraph with id 'para2' */
#para2 {
    color: darkorchid;
    margin-top: 50px;
}

/* 9. Unordered list items in italics */
ul li {
    font-style: italic;
}

/* 10. Genre-based styling for songs */
.rap {
    color: darkred;
}

.melodic {
    color: darkblue;
}


/* 11. Image floating and rounded */
img {
    float: left;
    border-radius: 2em;
    margin-right: 3em;
}

/* 12. Italic and crimson color for paragraph inside div */
div p {
    font-style: italic;
    color: crimson;
    font-family: 'Roboto', sans-serif;
}
